{% extends 'base.html' %}
{% load static %}
<title>{% block title %} Articulos {% endblock title %}</title>
{% block contenido %}
<div class="container-wrap">
    <h1>CONOCE A NUESTRO EQUIPO</h1>
    <div class="equipo-container">
        {% for miembro in equipo %}
        <div class="miembro-card">
            <!-- {% if equipo.foto %}
                <img src="{{ miembro.foto.url }}" alt="Foto de {{ miembro.nombre }}" width="150">
            {% endif %} -->
            
            <h2>{{ equipo.nombre }}</h2>
            <p><strong>{{ equipo.cargo }}</strong></p>
            
            <a href="{% url 'nosotros_individual' pk=equipo.pk %}">Ver Perfil Completo</a>
        </div>
        {% endfor %}
    </div>

{% endblock %}